@import "../global-styles.scss";


.country-list {
  min-height: 100vh;
  padding-bottom: 75px;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  justify-content: center;
  align-content: start;
  gap: 40px;

  @media (min-width: 1360px) {
    gap: 75px;
  }
}

.country-list.dark {
  color: $white;
}

.country-list__link {
  display: inline-block;
}