@import "../global-styles.scss";


.dropdown {
  font-size: 0.75rem;
  line-height: 1;
  box-shadow: $box-shadow;
  width: 200px;
  background-color: $white;
  border-radius: 5px;
  position: relative;

  @media (min-width: $bp-medium) {
    font-size: 0.85rem;
  }
}

.dropdown__label {
  @include flex;
  cursor: pointer;
  padding: 17px 25px;
}

.dropdown__options {
  position: absolute;
  top: 55px;
  background-color: $white;
  width: 200px;
  z-index: 1;
  box-shadow: $box-shadow;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown__option {
  cursor: pointer;
  display: none;
  padding: 1rem 2.5rem;

  &:hover {
    background-color: $lm-background;
  }
}

.dropdown__option.is-open {
  display: block;
}

.dropdown.dark {
  color: $white;
  background-color: $dm-elements;

  & path {
    stroke: $white;
  }

  & .dropdown__options {
    background-color: $dm-elements;
  }

  & .dropdown__option:hover {
    background-color: $lm-input;
  }
}