@import "../global-styles.scss";


.header {
  color: $lm-text;
  background-color: $white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: $box-shadow;
}

.header__container {
  @include container;
  @include flex;
}

.header.dark {
  color: $white;
  background-color: $dm-elements;

  .theme-btn svg {
    fill: $white;
  }
}

.header__title {
  font-size: 0.9rem;
  font-weight: 800;
  line-height: 1;
}

.theme-btn {
  @include flex;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1;

  svg {
    fill: $lm-text;
    width: 13px;
    margin-right: 0.5rem;
  }
}

@media (min-width: $bp-medium) {

  .header__title {
    font-size: 1.5rem;
  }

  .theme-btn {
    font-size: 1rem;

    svg {
      width: 16px;
    }
  }
}