@import "./global-styles.scss";

.main {
  padding-left: 1rem;
  padding-right: 1rem;

  max-width: $max-width;
  background: $lm-background;
}

.main.dark {
  background: $dm-background;
  padding-bottom: 2rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: $max-width;
  margin: 0 auto;
}